.wrapper {
    height: 53px;
    width: 100%;
    box-shadow: 0px 3px 1px rgba(7, 6, 6, 0.907);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 11;
    background-color: #181818;
    
}

.inner {
    width: 1200px;
    display: flex;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: rgb(255, 255, 255);
    background-color: var(--body_background);
    box-shadow: 0px -1px 0px rgb(0 0 0 / 15%);
}
//fragment
.fragment{
    width: 250px;
    height: 53px;
}
//menu
.menu{
    width: 600px;

}
li {
    margin-bottom: 10px;
    margin-right: 50px;
    box-sizing: border-box;
    padding-top: 15px;
}
.menu-list {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 600px;
}
.menu-list ul, .menu-list li{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.menu-list li a {
    text-decoration: none;
    color: var(--body_color);
    font-family: Montserrat;
    margin-left: 40px;
    box-sizing: border-box;
}
//menu contact
.menu-contact{
    width: 250px;
    height: 53px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}

.menu-contact ul{
    
    height: 100%;
    width: 100%;
   margin-left: 80px;
   gap: 30px

}
.menu-contact li{
    height: 100%;
    width: 50px;
    margin: 0;
    padding: 0;
}
.menu-mode, .menu-bars, .menu-login{
    width: 20px;
    height: 53px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.menu-mode button {
    background-color: white;
    border: white;
    :hover{
        cursor: pointer;
    }
}

.user-icon-button {
    background-color: rgb(255, 255, 255);
    border: white;
    :hover{
        cursor: pointer;
    }
}

.menu-bars button {
    background-color: white;
    border: white;
    :hover{
        cursor: pointer;
    }
    width: 30px;
    margin-right: 40px;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #e5e5e5;
    padding: 10px 10px 50px 10px;
    border-radius: 15px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-close-button {
    // position: absolute;
    width: 20px;
    align-self: flex-end;
    cursor: pointer;
    border-radius: 50px;
    background-color: #cecece;
}
.add-post-button{
    border: none;
}
