.wrapper{
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.inner{
    height: 1500px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

//////////////// contain
.contain {
    margin-top: 150px;
    height: 750px;
    width: 1200px;
    display:flex;
    justify-content: space-between;
    position:absolute;
    flex: 1;
    top: 0%;
    margin-top: 30px;
    align-items: flex-start;

    // background-color: aquamarine;
}

.contain-left, .contain-middle, .contain-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 750px;
}
.contain-middle{
    width: 600px;
    box-shadow: 0.5px 0px 0px rgba(71, 71, 71, 0.2);
    position: relative;
    // background-color: aqua;
}

.a{
    font-family: 'Playfair Display',serif;
}
.main-content{
    width: 550px;
    height: 500px;
    position: absolute;
    // background-color: aqua;
    top: 0%;
}
.main-content a img {
    width: 100%; 
    height: 500px; 
    object-fit: cover;
    

}
.main-text h1{
    font-family: 'Playfair Display';
    font-weight: 500;
    font-style: normal;
}
// left
.contain-left{
    width: 300px;
    box-shadow: 0.5px 0px 0px rgba(71, 71, 71, 0.2);
}
.left-content{
    width: 250px;
    height: 100%;

}
.left-content a img {
    width: 100%; 
    height: 250px; 
    object-fit: cover;
}
.left-text h1{
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 1.7em;
    font-style: normal;
    line-height: 1.2;
}
//right
.contain-right{
    width: 300px;
}
.right-content{
    width: 250px;
    height: 100%;
}
.right-content a img {
    width: 100%; 
    height: 250px; 
    object-fit: cover;
}
.right-text h1{
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 1.7em;
    font-style: normal;
    line-height: 1.2;
}
///////////////////////// row

.row{
    height: 110px;
    width: 100%;
    background-color: rgb(236, 237, 237); 
    order: 2;
    position: absolute;
    top: 55%;
}
.photography{
    width: 100%;
    height: 700px;
    
    position: absolute;
    top: 65%
}
.title{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title p{
    width: 100%;
    font-family: 'Playfair Display';
    font-size: 45px;
    display: inline-block;
    padding-left: 20px;
}

.title p::before {
    content: "";
    display: inline-block;
    width: 400px;
    border-bottom: 1px solid rgb(223, 222, 222);
    margin-right: 30px;
    margin-left: 0;
    vertical-align: middle;
}
.title p::after {
    content: "";
    display: inline-block;
    width: 460px;
    border-bottom: 1px solid rgb(223, 222, 222);
    vertical-align: middle;
    margin-left: 30px;
}
/////// slide
.slideshow{
    width: 100%;
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: aqua;
}