.wrapper {
    width: 100%px;
    height: 2500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.top {
    width: 100%;
    height: 145px;
    
}

.body{
    margin: 0;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-self: center;
    
}

.bottom {
    min-height:50px;
}
